<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu" style="background-color:#111827; padding:16px 20px; margin-bottom: 20px;">
    <a th:href="@{/produtos}" style="color:white; text-decoration:none; margin-right:24px; font-weight:bold;">Cardápio</a>
    <a th:href="@{/clientes}" style="color:white; text-decoration:none; margin-right:24px; font-weight:bold;">Clientes</a>
    <a th:href="@{/pedidos}" style="color:white; text-decoration:none; font-weight:bold;">Pedidos</a>
</div>
</body>
</html>